* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;    
}

h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(36, 37, 37);
    color: aliceblue;
    
}

.content {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 1.2rem;
    height: 100%;
}

.img {
    display: flex;
    flex-direction: column;
}

img {
    border: 2px solid greenyellow;
    border-radius: 8px;
}

a {
    text-align: center;
    font-size: 1.3rem;
}

footer {
    background-color: rgb(36, 37, 37);
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}